@model SlikMusik.Core.Store

@{
    ViewBag.Title = "Configure your store";
}

<h2>Configure your store</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()
    <button type="submit">Save Changes</button>
}

@Html.ActionLink("Add merchandize to this store", "Create", "Merchandize", new { storeId = Model.Id }, null)

@Html.ActionLink("Back to Store", "Visit", new { id = Model.Id })
