@model IEnumerable<SlikMusik.Core.Store>

@{
    ViewBag.Title = "Go on, create your own music store";
}

<h2>Welcome stranger!</h2>
<p>Why don't you just join the others and open up your own store on this nice music market?</p>

@Html.ActionLink("Open up a store now!", "OpenUp", "Store", new {@class = "button"})
<small>It's free!</small>

<h3>These artists have already opened up their store here</h3>
<ul class="small-block-grid-3">
    @foreach (var store in Model)
    {
        <li>@Html.ActionLink(store.Name, "Visit", new { id = store.Id })</li>
    }
</ul>