@model IQueryable<SlikMusik.Domain.Store>

@{
    ViewBag.Title = "Go on, create your own music store";
}

<h2>Welcome stranger!</h2>
<p>Why don't you just join the others and open up your own store on this nice music market?</p>

@Html.ActionLink("Open up store now!", "OpenUp", "Store")
<small>It's free!</small>