@model SlikMusik.Core.Store

@{
    ViewBag.Title = "Open up your own store";
}

<h2>Open up your own store</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <label>
        Name
        @Html.TextBoxFor(store => store.Name)
    </label>

    <button type="submit">Open It Up!</button>
}