@model SlikMusik.Domain.Store

@{
    ViewBag.Title = "Open up your own store";
}

<h2>Open up your own store</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="Submit" value="Open It Up!" />
}