@model SlikMusik.Core.Store

@{
    ViewBag.Title = "Open up your own store";
}

<h2>Open up your own store</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.EditorForModel()
    <button type="submit">Open It Up!</button>
}