@model SlikMusik.Core.Merchandize
           
@{
    ViewBag.Title = "Add your great merchandize";
}

<h2>Add your great merchandize</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(store => store.StoreId)
    
    <label>
        Name
        @Html.TextBoxFor(merch => merch.Name)
    </label>
    <label>
        Price
        @Html.TextBoxFor(merch => merch.Price)
    </label>
    <button type="submit">Add it!</button>
}