@model SlikMusik.Core.Merchandize

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<div>Price: @Model.Price.ToString("C")</div>
@using (Html.BeginForm("Add", "ShoppingCart"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(merch => merch.Id)
    <button type="submit">Add to shopping cart</button>
}